<div class= "container app" id="app"></div>

<% if Rails.env.development? %>
  <%= javascript_include_tag 'http://localhost:8080/javascripts/bundle.js' %>
<% else %>
  <%= javascript_include_tag 'bundle', 'data-turbolinks-track' => true %>
<% end %>
